@import '../../../assets/scss/variable.scss';

.writing-draft {
  .writing-asider {
    padding: 0!important;
    background-color: #fff;
    .total-capters {
      padding: 0 1.25rem;
      font-size: 0.75rem;
      line-height: 3.7;
    }
    .el-divider--horizontal {
      width: auto;
      margin: 0 1.25rem /* 20/16 */;
    }
  }
  .writing-main {
    .opera-area {
      height: 3.75rem /* 60/16 */;
      line-height: 3.75rem /* 60/16 */;
      padding: 0 2rem;
      background-color: #fff;
      @extend %clearfix;
      .opera-button {
        float: right;
      }
    }
  }
}
