 

.recycle-index {
  .opera-area {
    // height: 3.75rem /* 60/16 */;
    line-height: 3.75rem /* 60/16 */;
    padding: 0 2rem;
    background-color: #fff;
    @extend %clearfix;
    @include phoneVertical {
      padding: 0 1rem;
    }
    .type-select {
      float: left;
      .select-one {
        float: left;
        margin-right: 1rem;
      }
    }
    .opera-button {
      float: right;
      @include phoneVertical {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
      }
      // margin: .5rem 0;
    }
  }
}
