@import './_html5';
html {
  line-height: 1.6;
  font-size: 16px;
  @media screen and (max-width: 557px) {
    font-size: 12px;
    line-height: 1.4;
  }
}
body {
  font-family: 'microsoft yahei', Arial;
  background: #f5f6f8;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container-full {
  // padding: 0 10px;
}
.container {
  overflow: hidden;
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
}
.margin-bottom {
  margin-bottom: 24px;
}
.text-right {
  text-align: right;
}
a {
  border: 0;
}
img {
  border: 0;
}

// ie table有bug
.el-table__header {
  width: 100% !important;
}
.el-table__body {
  width: 100% !important;
}
.el-input {
  font-size: inherit;
}

@media screen and (max-width: 557px) {
  .el-scrollbar {
    min-width: 100px;
    .el-cascader-node {
      padding: 0 1rem;
    }
  }
}
