@import './_html5';

body {
  line-height: 1.6;
  font-size: 16px;
  font-family: 'microsoft yahei', Arial;
  background: #f5f6f8;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container-full {
  // padding: 0 10px;
}
.container {
  overflow: hidden;
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
}
.margin-bottom {
  margin-bottom: 24px;
}
.text-right {
  text-align: right;
}
a {
  border: 0;
}
img {
  border: 0;
}

// ie tableæœ‰bug
.el-table__header {
  width: 100% !important;
}
.el-table__body {
  width: 100% !important;
}
