@import './_html5';
@import './mixin/_media';
@import './variable';
@import './element-reset';

html {
  line-height: 1.6;
  font-size: 16px;
  @include phoneVertical {
    font-size: 12px;
    line-height: 1.4;
  }
}
body {
  font-family: 'microsoft yahei', Arial;
  background: #f5f6f8;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container-full {
  // padding: 0 10px;
}
.container {
  overflow: hidden;
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
}
.margin-bottom {
  margin-bottom: 24px;
}
.text-right {
  text-align: right;
}
a {
  border: 0;
}
img {
  border: 0;
}
