@import '../../../assets/scss/variable.scss';

.writing-published {
  .writing-asider {
    padding: 0!important;
    background-color: #fff;
    .total-capters {
      padding: 0 1.25rem;
      font-size: 0.75rem;
      line-height: 3.7;
      .new-chapter-btn{
        padding: .3rem .5rem;
        margin-left: .2rem;
      }
    }
    .el-divider--horizontal {
      width: auto;
      margin: 0 1.25rem /* 20/16 */;
    }
  }
  .writing-main {
    .opera-area {
      // height: 3.75rem;
      // line-height: 3.75rem /* 60/16 */;
      padding: 0 2rem;
      background-color: #fff;
      @extend %clearfix;
      .type-select {
        float: left;
        .select-one {
          float: left;
          margin-right: 1rem;
        }
      }
      .opera-button {
        float: right;
        margin: .5rem 0;
      }
    }
  }
}

// dialog
.writing-dialog{
  .delete-dialog,
  .create-dialog{
    text-align: center;
    .el-icon-warning-outline{
      color: #fc4545;
      font-size: 3.75rem;
      margin-bottom: 1rem;
    }
    .el-button{
      width: 8.125rem /* 130/16 */;
    }
    .cancel-btn{
      color: $color-text;
    }
  }

  .create-dialog{
    .title {
      margin-bottom: 1.5rem;
    }
    .el-input{
      width: auto;
      min-width: 15rem;
      margin-bottom: 1rem;
    }
  }
}
