 

.chapter-view {
  .write-tip{
    font-size: $font-small;
    color: $color-text;
    padding: .8rem 2rem;
    background-color: #f6f7f9;
    @include phoneVertical {
      padding: .5rem 1rem;
    }
    .el-icon-warning-outline{
      font-size: $font-medium;
      color: #fc4545;
      margin-right: .5rem;
    }
  }
  .chapter-content {
    min-height: 22rem;
    background-color: #fff;
    padding: 1rem 2rem;
    @include phoneVertical {
      padding: 1rem;
    }
    .chapter-title {
      height: 3rem;
      line-height: 3rem;
      @extend %clearfix;
      h2 {
        float: left;
      }
      .little-msg {
        float: right;
        line-height: 3rem;
        font-size: $font-small;
        .red-text {
          color: #fc4545;
        }
      }
    }
    .el-divider {
      margin: 1.5rem 0;
    }
  }
}
