.header {
  height: 100px;
  line-height: 100px;
  margin-bottom: 1.25rem /* 20/16 */;
  border-bottom: 1px solid #e8e8e8;
  background: #ffffff;
  font-size: 1rem;

  .logo {
    float: left;
    // width: 180px;
    text-align: center;

    img {
      vertical-align: middle;
      margin-right: 8px;
    }
    span {
      font-size: 20/16 * 1rem;
      line-height: 1;
      font-weight: bold;
    }
    i {
      display: inline-block;
      line-height: 1;
      font-style: normal;
      margin: 0px 0px 0 1rem;
      padding-left: 1rem;
      border-left: 1px solid #e8e8e8;
    }
  }
  .right {
    text-align: right;
    img {
      vertical-align: middle;
      margin-right: 8px;
    }
    a {
      margin: 0px 15px;
    }
    .el-badge {
      line-height: 1;
    }
  }
  .avatar {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    margin: 0px 15px;

    font-size: inherit;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
}
