.query-key {
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  .el-col {
    float: left;
    padding: 10px 10px;
    width: 20%;
    button {
      width: 100%;
      padding: 12px 5px;
    }
  }
  @media screen and (max-width: 768px) {
    .el-col {
      width: 25%;
    }
  }
  @media screen and (max-width: 577px) {
    margin-left: -8px;
    margin-right: -8px;
    .el-col {
      width: 33.33%;
      padding: 8px 8px;
    }
  }
  @media screen and (max-width: 360px) {
    .el-col {
      width: 50%;
    }
  }
}
.help-list {
  padding: 24/16 * 1rem 15/16 * 1rem;
  background: #f5f6f8;
  .item {
    &:not(:last-child) {
      margin-bottom: 32/16 * 1rem;
    }
    h3 {
      font-size: 1.1em;
      margin-bottom: 0.5rem;
    }
    .content {
      color: #666;
    }
  }
  .no-data {
    text-align: center;
    padding: 2rem;
  }
}
