.edit-avatar-box {
  .edit {
    float: left;
    margin-right: 24/16 * 1rem;
    .el-button {
      margin-right: 24/16 * 1rem;
    }
    .cut {
      width: 500px;
      height: 380px;
      margin-bottom: 24/16 * 1rem;
    }
    .edit-control {
      text-align: center;
      margin-bottom: 30/16 * 1rem;
    }
    .slider-box {
      display: inline-block;
      width: 200px;
      margin: 0 24px;
      vertical-align: middle;
    }
  }
  .edit-right {
    overflow: hidden;
  }
  .avatar-list {
    margin-bottom: 93/16 * 1rem;

    .avatara {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #e8e8e8;
      .show-preview {
        transform-origin: 0px 0px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    h3,
    .item {
      margin-bottom: 24/16 * 1rem;
    }
    .avatar {
      margin-right: 24/16 * 1rem;
      margin-bottom: 1rem;
      border: 1px solid #e8e8e8;
    }
  }

  .edit-control {
    font-size: 24px;
    color: #fc4545;
  }
  .el-dialog__body {
    padding-top: 15px;
  }
}
