@import '../../assets/scss/variable.scss';

.writing-layout {
  .writing-area {
    width: 100%;
    max-width: 75rem /* 1200/16 */;
    margin: 0 auto;
  }
  .writing-header{
    width: 100%;
    margin: 0 auto 0.5rem;
    background-color: #fff;
  }
  .writing-aside-menu{
    padding-right: 1rem;
  }
}
