@import '../../assets/scss/variable.scss';

.user-page {
  .avatar {
    vertical-align: middle;
    margin-right: 24px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .el-form-item__label,
  .el-form-item__content {
    font-size: inherit;
  }
  .infoForm {
    margin: 0 auto;
    padding-top: 40/16 * 1rem;
    max-width: 700px;
  }
  .padding:not(:last-child) {
    padding-right: 8/16 * 1rem;
  }
  .tel-box {
    > div,
    a {
      margin-right: (24/16) * 1rem;
    }
    .telRegion {
      width: 150px;
    }
    .tel {
      width: 150px;
    }
    .code {
      width: 80px;
      text-align: center;
    }
  }
  .dialog-success,
  .dialog-error {
    text-align: center;
    .el-dialog__body {
      padding-top: 0px;
    }
    .el-icon-circle-check,
    .el-icon-warning-outline {
      font-size: 35px;
      color: $green-text;
    }
    .el-icon-warning-outline {
      color: red;
    }
    .txt {
      padding: 1rem 0;
    }
  }
  .dialog-upload {
    width: 90%;
    max-width: 760px;
  }
  @media screen and (max-width: 557px) {
    .el-select,
    .tel,
    .el-cascader,
    .tel-box {
      width: 100% !important;
    }
    .telRegion,
    .tel {
      margin-bottom: 1rem;
    }
    .tel-box .el-link {
      float: right;
    }
  }
}
