.message-list {
  margin-bottom: 20/16 * 1rem;
  li {
    padding: 30/16 * 1rem 0;
    border-bottom: 2/16 * 1rem solid #f0f0f0;
  }
  .visited {
    color: #8d8d8d;
  }
  .time {
    float: left;
    overflow: hidden;
    position: relative;
    margin-right: 20/16 * 1rem;
    width: 70/16 * 1rem;
    height: 75/16 * 1rem;
    border-radius: 5/16 * 1rem;
    background: #f5f6f8;
    text-align: center;

    span {
      display: block;
      &:nth-child(1) {
        font-size: 18/16 * 1rem;
        line-height: 60/16 * 1rem;
        font-weight: bold;
        color: #fc4545;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 12/16 * 1rem;
        background: #fc4545;
        color: #fff;
      }
    }
  }
  .mian {
    overflow: hidden;
    > div {
      margin-bottom: 10/16 * 1rem;
    }

    h3 {
      font-size: 1.25rem;
      // float: left;
      a {
        color: inherit;
      }
    }
    .action {
      overflow: hidden;
      text-align: right;
    }
    .content {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: #8d8d8d;
      font-size: 14/16 * 1rem;
      line-height: 1.4;
      a {
        color: inherit;
      }
    }
  }
  @media screen and (max-width: 577px) {
    .mian {
      position: relative;
      padding-bottom: 25/16 * 1rem;
      .el-row {
        position: static;
      }
    }

    .action {
      position: absolute;
      bottom: -0rem;
    }
  }
}
.message-header .search {
  text-align: right;
  button {
    margin-left: 8/16 * 1rem;
  }
  @media screen and (max-width: 557px) {
    .el-date-editor {
      width: 220/16 * 1rem;
    }
  }
}
.message-footer {
  @media screen and (max-width: 557px) {
    .el-col-sm-24 {
      margin-bottom: 1rem;
    }
    .el-pagination__jump {
      display: none !important;
    }
  }
}
.message-info {
  padding: 20/16 * 1rem;
  h1 {
    padding-top: 20/16 * 1rem;
    font-size: 22/16 * 1rem;
    margin-bottom: 20/16 * 1rem;
    text-align: center;
  }
  .time {
    text-align: center;
    margin-bottom: 20/16 * 1rem;
  }
}
