@import '../../assets//scss//variable.scss';

.work-bench {
  .modify-info {
    position: absolute;
    right: 1rem;
    color: $color-text;
    transform: translateY(50%);
    z-index: 2;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
  }
  .author-info {
    position: relative;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    .author-base {
      @extend %clearfix;
    }
    .author-pic {
      width: 23%;
      float: left;
      margin-right: 1rem;
    }
    .author-grade {
      margin-left: 0.5rem;
      // font-size: $font-medium;
      color: rgb(246, 230, 81);
    }
    .author-books-msg {
      font-size: $font-medium;
      color: $color-text;
      margin-top: 2rem;
      .mg-r {
        margin-right: 2rem;
      }
      .color-text {
        color: red;
      }
    }
    .create-msg {
      margin: 0.5rem 0;
      @extend %clearfix;
      .msg-box {
        float: left;
        width: 33%;
        p {
          color: $color-text;
          line-height: 2;
        }
      }
      .el-divider {
        margin: 0.5rem 0;
      }
    }
  }
  .writing-cal {
    float: right;
    background-color: #fff;
  }
}
