@import '../../assets//scss//variable.scss';

.work-bench {
  .modify-info {
    position: absolute;
    right: 1rem;
    z-index: 2;
    .el-button {
      color: $color-text;
    }
  }
  .author-info {
    position: relative;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    .author-base {
      @extend %clearfix;
    }
    .author-pic {
      width: 23%;
      float: left;
      margin-right: 1rem;
    }
    .author-grade {
      margin-left: 0.5rem;
      // font-size: $font-medium;
      color: rgb(246, 230, 81);
    }
    .author-books-msg {
      font-size: $font-medium;
      color: $color-text;
      margin-top: 2rem;
      .mg-r {
        margin-right: 2rem;
      }
      .color-text {
        color: red;
      }
    }
    .create-msg {
      padding: 1rem 0;
      @extend %clearfix;
      .msg-box {
        float: left;
        width: 33%;
        p {
          color: $color-text;
          line-height: 2;
        }
      }
    }
    .el-divider {
      margin: 0;
    }
  }
  .writing-cal {
    float: right;
    // background-color: #fff;
  }
}

.calendar-dialog {
  .el-dialog {
    width: 100%;
    max-width: 21rem;
    .el-dialog__header,
    .el-dialog__body{
      padding: 0;
    }
  }
  .calendar .dateSelect .el-select{
    margin: 0;
  }
}
